.tab {
  width: 1080px;
  height: 60px;
  margin: 30px auto;
}
.tab li {
  float: left;
  position: relative;
}
.tab li a {
  display: block;
  font-size: 16px;
  text-align: center;
  width: 180px;
  height: 100%;
  color: #666;
  background-color: #f1f1f1;
  line-height: 60px;
}
.tab li a:hover,
.tab li a.current {
  color: #ed5f4e;
  background-color: #fff;
}
.tab .more-list {
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 2;
}
.tab .more-list li {
  float: none;
}
.tab .more-list li a {
  display: block;
  font-size: 16px;
  text-align: center;
  width: 180px;
  height: 100%;
  color: #666;
  background-color: #f1f1f1;
  line-height: 60px;
}
.tab .more-list li a:hover,
.tab .more-list li a.current {
  color: #fff;
  background-color: #ed5f4e;
}
.tab li:hover > .more-list {
  display: block;
}
.tab .tab-more span {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 5px solid #666;
  position: absolute;
  right: 55px;
  top: 28px;
}
.tab .current span,
.tab .tab-more:hover span {
  border-top: 5px solid #ed5f4e;
}
.content {
  width: 1080px;
  margin: 0 auto 80px;
  background-color: #fff;
}
.postage {
  width: 1080px;
  background-color: #ffffff;
  margin: 21px auto 46px auto;
}
.headTable {
  min-width: 960px;
  min-height: 990px;
  padding: 46px 58px;
}
.headTable td {
  border: solid 1px #f1f1f1;
  color: #666;
  font-size: 14px;
  text-align: center;
}
.headTable-top-1 {
  height: 56px;
}
.headTable-top-2 {
  height: 95px;
}
.headTable-mid-big p {
  height: 0;
}
.headTable-mid-small td {
  width: 170px;
  height: 33px;
}
td p {
  padding-top: 13px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 14px;
  color: #666;
}
.content-text {
  text-align: left;
  padding-bottom: 5px;
}
