.question-wrapper{
    width: 100%;
    min-height: 200px;
    border-top: 1px solid #e1e1e1;
}
.content{
    width:1080px;
    margin:0 auto 41px;
    background-color:#fff;
    padding:18px auto 42px;
}
.question-wrapper h1 {
    width: 500px;
    font-size: 24px;
    color: #333;
    margin-top: 35px;
    margin-bottom: 30px;
    margin-right: 0;
    text-align: left;
}
.question-wrapper p {
    font-size: 18px;
    color: #666;
    text-align: left;
}
.more-info{
    float: right;
    margin-top: -48px;
    margin-right: 40px;
}
.more-info a{
    color: #ed5f4e;
    font-size: 18px;
    text-align: left;
}