.Info{
    width: 1080px;
    height: 1249px;
    background-color: #ffffff;
    margin: 21px auto 77px auto;
}
.Info-title{
    text-align: left;
    line-height: 24px;
    font-size: 24px;
    color: #ed5f4e;
    font-family: FZLTHJW--GB1-0, sans-serif;
    margin-bottom: 22px;
}
.company-info-1{
    padding-top: 68px;
    width: 1080px;
    height: 283px;
    min-height: 283px;
    min-width: 959px;
}
.left-block{
    width: 461px;
    height: 283px;
    border: solid 1px #ededed;
    float: left;
    margin-left: 56px;
}
.left-block img{
    padding-top: 97px;
    padding-left: 100px;
}
.right-block{
    margin-left: 36px;
    width: 471px;
    height: 283px;
    float: right;
    margin-right: 56px;
}
.right-block div{
    width: 471px;
    height: 240px;
    min-height: 240px;
}
.content-text{
    text-align: left;
    line-height: 28px;
    font-size: 14px;
    color: #666;
    font-family: FZLTHJW--GB1-0, sans-serif;
}
.company-img-1{
    margin-top: 128px;
    height: 283px;
}
.company-img-left{
    margin-left: 61px;
    width: 461px;
    height: 283px;
    float: left;
}
.company-img-right{
    margin-right: 60px;
    margin-left: 37px;
    width: 461px;
    height: 283px;
    float: right;
}
.company-info-2{
    margin-top: 59px;
    height: 108px;
    margin-bottom: 55px;
}
.info-2-set{
    width: 960px;
    margin: auto;
}