.tab {
  width: 1080px;
  height: 60px;
  margin: 30px auto;
}
.tab li {
  float: left;
  position: relative;
}
.tab li a {
  display: block;
  font-size: 16px;
  text-align: center;
  width: 180px;
  height: 100%;
  color: #666;
  background-color: #f1f1f1;
  line-height: 60px;
}
.tab li a:hover,
.tab li a.current {
  color: #ed5f4e;
  background-color: #fff;
}
.tab .more-list {
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 2;
}
.tab .more-list li {
  float: none;
}
.tab .more-list li a {
  display: block;
  font-size: 16px;
  text-align: center;
  width: 180px;
  height: 100%;
  color: #666;
  background-color: #f1f1f1;
  line-height: 60px;
}
.tab .more-list li a:hover,
.tab .more-list li a.current {
  color: #fff;
  background-color: #ed5f4e;
}
.tab li:hover > .more-list {
  display: block;
}
.tab .tab-more span {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 5px solid #666;
  position: absolute;
  right: 55px;
  top: 28px;
}
.tab .current span,
.tab .tab-more:hover span {
  border-top: 5px solid #ed5f4e;
}
.content {
  width: 1080px;
  margin: 0 auto 80px;
  background-color: #fff;
}
.title {
  font-size: 24px;
  margin: 24px 0;
  color: #ed5f4e;
  font-weight: bold;
}
.question-wrapper {
  width: 100%;
  min-height: 180px;
  border-top: 1px solid #e1e1e1;
}
.content {
  width: 1080px;
  margin: 0 auto 41px;
  background-color: #fff;
  padding: 20px 35px;
}
.question-wrapper h1 {
  width: 500px;
  font-size: 20px;
  color: #333;
  margin-top: 30px;
  margin-bottom: 25px;
  margin-right: 0;
  text-align: left;
}
.question-wrapper p {
  font-size: 18px;
  color: #666;
  text-align: left;
}
.more-info {
  float: right;
  margin-top: -48px;
  margin-right: 40px;
}
.more-info a {
  color: #ed5f4e;
  font-size: 18px;
  text-align: left;
}
