.banner-wrapper {
  width: 100%;
  height: 421px;
  overflow: hidden;
}
.banner-img {
  width: 100%;
}
.unslider {
  position: relative;
}
.unslider-nav {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}
.unslider-nav ol li {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  margin: 0 10px;
}
.count-wrapper {
  width: 1400px;
  height: 183px;
  margin: 0 auto 24px;
  background-color: #fcfcfc;
  padding: 0 140px;
  position: relative;
}
.count-wrapper > div {
  height: 100%;
  width: 280px;
  padding-left: 30px;
}
.count-num {
  border-left: 6px solid #ed5f4e;
  padding-left: 12px;
  color: #ed5f4e;
  font-weight: bold;
  font-size: 30px;
  line-height: 28px;
  position: relative;
  top: 60px;
}
.count-description {
  padding-left: 20px;
  font-size: 20px;
  position: absolute;
  bottom: 63px;
}
.show-wrapper {
  height: 519px;
  width: 1400px;
  margin: 0 auto 30px;
  background-color: #fcfcfc;
  padding: 0 210px;
  overflow: hidden;
}
.show-wrapper > div {
  text-align: center;
}
.show-wrapper > div + div {
  margin-left: 150px;
}
.show-title {
  font-size: 30px;
  color: #000;
  text-align: center;
  margin: 50px 0;
  display: block;
}
.show-icon {
  margin: 32px 0;
  min-height: 125px;
}
.show-text {
  line-height: 36px;
  font-size: 18px;
  color: #666;
}
.data-wrapper {
  width: 1080px;
  min-height: 598px;
  margin: 0 auto 30px;
  background-color: #fcfcfc;
}
.data-wrapper .current {
  display: block;
}
.data-tab-wrapper {
  height: 75px;
  width: 100%;
}
.data-tab-wrapper .current {
  background-color: #fcfcfc;
  border-top: 5px solid #ed5f4e;
}
.data-tab-wrapper .current a {
  color: #000;
}
.data-tab {
  width: 50%;
  background-color: #f3f3f3;
  text-align: center;
  float: left;
  border-top: 5px solid #f3f3f3;
  height: 75px;
  color: #999;
  line-height: 75px;
  font-size: 23px;
  display: block;
  cursor: pointer;
}
@keyframes fadein {
  0% {
    margin-top: 20px;
    opacity: 0;
  }
}
.data-table-wrapper {
  padding: 41px 30px 0 36px;
  margin-top: 0;
  animation: fadein 0.75s;
  display: none;
}
.data-table-wrapper.current {
  display: block;
}
.data-table {
  border: none;
}
.data-table td {
  height: 60px;
  vertical-align: middle;
}
.data-table th {
  font-size: 18px;
  color: #666;
}
.data-table-col-1 {
  width: 360px;
  font-size: 16px;
  color: #333;
  text-align: left;
}
.data-table-col-2,
.data-table-col-3,
.data-table-col-4,
.data-table-col-5,
.data-table-col-6 {
  width: 130px;
  text-align: center;
  color: #333;
}
.data-table-col-2 {
  font-size: 24px;
  color: #ed5f4e;
  font-weight: bold;
}
.data-table-col-3 {
  font-size: 16px;
}
.data-table-col-3 span {
  font-size: 18px;
  font-weight: bold;
}
.data-table-col-4 span {
  font-size: 18px;
  font-weight: bold;
}
.data-table-col-5 span {
  font-weight: bold;
}
.data-table-col-6 a,
.data-table-col-6 span {
  display: block;
  height: 40px;
  width: 130px;
  line-height: 40px;
  color: #fff;
}
.data-table-col-6 a {
  background-color: #ed5f4e;
}
.data-table-col-6 a:hover {
  background-color: #ec1900;
}
.data-table-col-6 span {
  background-color: #e1e1e1;
  cursor: default;
}
.data-table-more a {
  background: none;
  color: #218ce5;
  font-size: 16px;
}
.data-table-more a:hover {
  background: none;
}
.news-wrapper {
  width: 1080px;
  min-height: 273px;
  margin: 0 auto 30px;
  overflow: hidden;
}
.news-panel {
  width: 528px;
  min-height: 273px;
  background-color: #fcfcfc;
  border-top: 5px solid #ed5f4e;
  float: left;
  padding: 30px 25px 30px 40px;
}
.news-panel + .news-panel {
  margin-left: 24px;
}
.news-panel-title {
  font-size: 24px;
  color: #333;
  width: 100%;
  height: 38px;
  line-height: 32px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}
.news-panel-title a {
  display: block;
  float: right;
  text-align: right;
  color: #218ce5;
  font-size: 16px;
}
.news-list {
  width: 100%;
}
.news-list a {
  display: block;
  font-size: 16px;
  color: #333;
  margin-top: 25px;
}
.news-list a:hover {
  color: #4e92d7;
}
.news-list a span {
  float: right;
}
.partner {
  width: 100%;
  min-height: 235px;
  background-color: #fcfcfc;
}
.partner-title {
  font-size: 24px;
  color: #333;
  margin: 40px auto;
  text-align: center;
}
.partner-logo-wrapper {
  width: 1080px;
  height: 100px;
  margin: 40px auto;
  overflow: hidden;
  position: relative;
}
.partner-logo-wrapper li {
  position: absolute;
}
.partner-logo-1 {
  left: 0%;
}
.partner-logo-2 {
  left: 20%;
}
.partner-logo-3 {
  left: 40%;
}
.partner-logo-4 {
  left: 60%;
}
.partner-logo-5 {
  left: 80%;
}
