.banner {
  width: 1080px;
  height: 170px;
  overflow: hidden;
  margin: 30px auto;
  background-color: #fff;
}
.banner img {
  min-width: 1080px;
}
.content {
  width: 1080px;
  background-color: #fff;
  margin: 0 auto 50px;
}
.tab-wrapper {
  width: 100%;
  height: 45px;
  background-color: #fafafa;
}
.tab-wrapper div {
  width: 140px;
  border-top: 5px solid #fafafa;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  transition: 0.2s;
}
.tab-wrapper div.current,
.tab-wrapper div:hover {
  border-top: 5px solid #ed5f4e;
  background-color: #fff;
}
.table-wrapper {
  min-height: 100px;
  padding: 10px 50px 50px;
  display: none;
}
.table-wrapper.current {
  display: block;
}
.table-wrapper tr {
  width: 100%;
  height: 150px;
  border-bottom: 1px solid #eee;
  display: block;
}
.table-wrapper .table-col-1 {
  width: 430px;
  height: 150px;
}
.table-wrapper .table-col-1 a {
  color: #333;
}
.table-wrapper .table-col-1 a:hover {
  color: #ed5f4e;
}
.table-wrapper .title-lianbiao,
.table-wrapper .title-yuebiao {
  display: block;
  position: relative;
  line-height: 18px;
  font-size: 18px;
  margin: 30px 0 100px;
}
.table-wrapper .title-icon {
  width: 30px;
  height: 30px;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
  position: absolute;
  top: -5px;
  right: 0;
}
.table-wrapper .title-lianbiao:after {
  content: "链";
  background-color: #ed5f4e;
  width: 30px;
  height: 30px;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
  position: absolute;
  top: -5px;
  right: 0;
}
.table-wrapper .title-yuebiao:after {
  content: "约";
  background-color: #218ce5;
  width: 30px;
  height: 30px;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
  position: absolute;
  top: -5px;
  right: 0;
}
.table-wrapper .info {
  position: relative;
}
.table-wrapper .info div.left {
  font-size: 14px;
  color: #999;
  position: absolute;
  bottom: 30px;
}
.table-wrapper .number-sum-wrapper {
  left: 150px;
}
.table-wrapper .number-time-wrapper {
  left: 330px;
}
.table-wrapper .number-percent {
  font-size: 14px;
  color: #ed5f4e;
}
.table-wrapper .number-percent span {
  font-size: 30px;
  font-weight: bold;
}
.table-wrapper .number-sum,
.table-wrapper .number-time {
  font-size: 18px;
  color: #333;
  font-weight: bold;
}
.table-wrapper .table-col-2 {
  width: 400px;
  height: 150px;
  padding: 0 80px 0 90px;
}
.table-wrapper .no {
  font-size: 16px;
  color: #333;
}
.table-wrapper .process-wrapper {
  position: relative;
  width: 230px;
  height: 8px;
  margin: 20px 0 10px;
}
.table-wrapper .process-wrapper .total,
.table-wrapper .process-wrapper .current {
  height: 8px;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
}
.table-wrapper .process-wrapper .total {
  z-index: 1;
  background-color: #f5f5f5;
  width: 230px;
}
.table-wrapper .process-wrapper .current {
  z-index: 2;
  background-color: #ed5f4e;
  width: 100%;
}
.table-wrapper .process-wrapper .demo {
  width: 59%;
}
.table-wrapper .status {
  color: #999;
  font-size: 14px;
}
.table-wrapper .table-col-3 {
  width: 150px;
  height: 150px;
  line-height: 30px;
  text-align: center;
  position: relative;
}
.table-wrapper .table-col-3 a,
.table-wrapper .table-col-3 span {
  width: 130px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.table-wrapper .table-col-3 a {
  background-color: #ed5f4e;
}
.table-wrapper .table-col-3 a:hover {
  background-color: #ec1900;
}
.table-wrapper .table-col-3 span {
  background-color: #e1e1e1;
  cursor: default;
}
.page-nav-wrapper {
  width: 458px;
  height: 32px;
  margin: 50px auto 0;
}
.page-nav-wrapper span {
  display: block;
  float: left;
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  text-align: center;
  color: #333;
  cursor: pointer;
  border: 1px solid #ccc;
  transition: 0.2s;
}
.page-nav-wrapper span + span {
  margin-left: 12px;
}
.page-nav-wrapper span.current,
.page-nav-wrapper span:hover {
  background-color: #ed5f4e;
  color: #fff;
  border: none;
}
.page-nav-wrapper .prev,
.page-nav-wrapper .next {
  width: 90px;
}
