.content {
  width: 1080px;
  overflow: hidden;
  margin: 30px auto 60px;
  color: #a4a6a7;
}
.content .left-panel {
  width: 175px;
  min-height: 440px;
  background-color: #fff;
  font-size: 20px;
  margin-right: 20px;
}
.content .right-panel {
  width: 885px;
  background-color: #fff;
  font-size: 16px;
  padding: 40px 60px;
  color: #000;
}
.content .right-panel h1 {
  display: block;
  padding-left: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 20px;
  line-height: 36px;
  border-bottom: 1px solid #a4a6a7;
}
.content .right-panel h2 {
  display: block;
  margin-top: 20px;
  color: #ed5f4e;
  font-size: 20px;
  line-height: 28px;
  font-weight: normal;
}
.content .right-panel p {
  line-height: 28px;
  font-size: 18px;
  text-indent: 2em;
  font-weight: normal;
}
.content .right-panel img {
  margin: 10px auto;
  max-width: 765px;
}
.content .right-panel .key-word {
  margin-top: 40px;
  font-size: 16px;
  color: #ed5f4e;
  font-weight: bold;
}
