@import "account.less";

.row-1{
  .sina-pay {
    margin: 30px 0;
  }
  .col-1 {
    width: 120px;
  }
  .col-2 {
    color: #333;
  }
  table {
    margin: 30px 0 10px;
  }
  td {
    height: 70px;
    color: #333;
    span {
      color: @theme-red;
      margin-right: 5px;
    }
  }
  input, select {
    height: 40px;
    width: 240px;
    margin-right: 30px;
  }
}

.global-button-a {
  width: 140px;
  height: 40px;
  line-height: 40px;
}
