* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul, li, ol, dl {
  list-style: none;
}
@theme-red: #ed5f4e;
a {
  text-decoration: none;
  cursor: pointer;
  outline: none;
  color: #555;
  &:hover {
    color: @theme-red;
  }
}
@font-face {
  font-family: 'fzlantingheis-r-gbregular';
  src: url('../fonts/fzlthjw-webfont.woff2') format('woff2'),
  url('../fonts/fzlthjw-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-fzlth: 'fzlantingheis-r-gbregular';
a, p, h1, h2, h3, h4, h5, h6, ul, li, ol, dl, div {
  font-family: @font-fzlth, "Hiragino Sans GB", "Microsoft YaHei",
  "WenQuanYi Micro Hei", sans-serif;
  font-size: 16px;
}
@content-width: 1400px;

.left {
  float: left;
}
.clearfix {
  &:before, &:after {
    content: "";
    clear: both;
    display: table;
  }
}

// navbar
@navbar-height: 76px;
@logo-height: 43px;
.navbar-wrapper {
  width: 100%;
  height: @navbar-height;
  background-color: #fcfcfc;
}
.navbar {
  background-color: #fcfcfc;
  width: @content-width;
  height: @navbar-height;
  margin: 0 auto;
  overflow: hidden;
}
.logo-wrapper {
  margin-top: ceil((@navbar-height - @logo-height) / 2);
  margin-left: 181px;
  margin-right: 50px;
  display: block;
  float: left;
}
.nav li {
  float: left;
  display: inline-block;
  width: 129px;
  height: @navbar-height;
  text-align: center;
  line-height: @navbar-height;
  a {
    font-size: 20px;
    display: block;
  }
  a:hover {
    color: @theme-red;
  }
  &.nav-current {
    border-bottom: 5px solid @theme-red;
    a {
      color: @theme-red;
    }
  }
}
.nav-app {
  line-height: @navbar-height;
  margin: 0 30px;
}
.nav-user-wrapper {
  background-color: @theme-red;
  border-radius: 16px;
  height: 32px;
  padding: 0 12px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-weight: 700;
  a {
    color: #fff;
    line-height: 32px;
  }
}
#nav-login {
  padding-left: 24px;
  background-image: url("../img/member.jpg");
}

// banner
.banner-wrapper {
  width: 100%;
  height: 421px;
  overflow: hidden;
}
.banner-img {
  width: 100%;
}

// count section
.count-wrapper {
  width: @content-width;
  height: 183px;
  margin: 0 auto 24px;
  background-color: #fcfcfc;
  padding: 0 140px;
  position: relative;
  &>div {
    height: 100%;
    width: 280px;
    padding-left: 30px;
  }
}
.count-num {
  border-left: 6px solid @theme-red;
  padding-left: 12px;
  color: @theme-red;
  font-weight: bold;
  font-size: 30px;
  line-height: 28px;
  position: relative;
  top: 60px;
}
.count-description {
  padding-left: 20px;
  font-size: 20px;
  position: absolute;
  bottom: 63px;
}

// show section
.show-wrapper {
  height: 519px;
  width: @content-width;
  margin: 0 auto 30px;
  background-color: #fcfcfc;
  padding: 0 210px;
  overflow: hidden;
  &>div {
    text-align: center;
    &+div {
      margin-left: 150px;
    }
  }
}
.show-title {
  font-size: 30px;
  color: #000;
  text-align: center;
  margin: 50px 0;
  display: block;
}
.show-icon {
  margin: 32px 0;
  min-height: 125px;
}
.show-text {
  line-height: 36px;
  font-size: 18px;
  color: #666;
}

// data section
.data-wrapper {
  width: 1080px;
  min-height: 500px;
  margin: 0 auto 30px;
  background-color: #fcfcfc;
}
.data-tab-wrapper {
  height: 75px;
  width: 100%;
}
.data-tab {
  width: 50%;
  background-color: #f3f3f3;
  text-align: center;
  float: left;
  span {
    width: 100%;
    height: 75px;
    color: #999;
    line-height: 75px;
    font-size: 23px;
    display: block;
    cursor: pointer;
  }
}
.data-current-tab {
  background-color: #fcfcfc;
  border-top: 5px solid @theme-red;
  a {
    color: #000;
  }
}
.data-table-wrapper {
  padding: 41px 30px 0 36px;
}
.data-table {
  border: none;
  td {
    height: 60px;
    vertical-align: middle;
  }
  th {
    font-size: 18px;
    color: #666;
  }
}
.data-table-col-1 {
  width: 360px;
  font-size: 16px;
  font-weight: bold;
  color: #666;
  text-align: left;
}
.data-table-col-2, .data-table-col-3, .data-table-col-4, .data-table-col-5, .data-table-col-6 {
  width: 130px;
  text-align: center;
  color: #666;
}
.data-table-col-2 {
  font-size: 24px;
  color: @theme-red;
  font-weight: bold;
}
.data-table-col-3 {
  font-size: 16px;
  span {
    font-size: 18px;
    font-weight: bold;
  }
}
.data-table-col-4 span {
  font-size: 18px;
  font-weight: bold;
}
.data-table-col-5 span {
  font-weight: bold;
}
.data-table-col-6 {
  a, span {
    border-radius: 5px;
    display: block;
    height: 38px;
    width: 129px;
    line-height: 38px;
    color: #fff;
  }
  a {
    background-color: @theme-red;
    &:hover {
      background-color: #ec1900;
    }
  }
  span {
    background-color: #e1e1e1;
    cursor: default;
  }
}
.data-table-more a {
  background: none;
  color: #218ce5;
  font-size: 16px;
  &:hover {
    background: none;
  }
}
#data-table-yuebiao {
  display: none;
}

// debug
body {
  background-color: #f9f9f9;
}